*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Questrial', sans-serif;
}
header{
    background-color: #2c79bc;
    padding: 30px;
    text-align: center;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

nav ul li a{
color: white;
text-decoration: none;
font-size: 20px;
}

nav ul li a:hover{
    font-weight: bold;
}
.banner{
   width: 100%;
   height: 350px;
   object-fit: cover;
 }

 .busca{
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: solid 1px #ccc;

 }

 .busca > input, 
 .busca> button {
    padding: 10px;
 }

 .busca > input{
     width: 40%;
 }

 .busca > button{
     width: 10%;
     background-color: #2c79bc;
     color:#ffffff;
     border: none;
     font-size: 16px;
 }

 .busca> button:hover{
     cursor: pointer;
     background-color: #2c93bc;
 }
 /* Aqui começam as imagens com legendas */
 .destaques > h1{
     text-align: center;
     width: 100%;
     margin-top: 30px;
     font-size: 30px;
    
 }


 .imagens > article > img {
     width: 100%;
     height: 200px;
     margin-bottom: 20px;
     object-fit: cover;
     
 }
 .imagens {
     display: inline-flex;
     justify-content: space-between;
     margin: 30px;
 }
 .container{
     width: 80%;
     margin: 0 auto;
 }

 .pag{
     margin: 0;
     text-align: justify;
     width: 100%;
 }


 .card{
     width: 25%;
 }
 /* Aqui acabam as imagens com legenda */
 .viagens > h2{
     text-align: center;
     margin-bottom: 30px;
     font-size: 30px;
     display: block;
 }
 .viagens > h2 > div > p {
     text-align: justify;
 }