form{
    width: 70%;
    margin: 0 auto;
    background-color: #16161d;
    padding: 30px;
    color:#ffffff;
}
input[type ="email"],
input[type ="text"],
input[type ="password"],
select, 
textarea,
button
{
    width: 100%;
    margin: 5px 0;
}
h3{
    margin: 5px 0;
}

input:focus,
texarea:focus{
    background-color: #eeeeee;

}
button:hover{
    background-color: #666666;
    cursor: pointer;
}